WeatherTravelPlanningSolution/WeatherTravelPlanning/Connected Services/TemperatureServiceReference/TemperatureConverter2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WeatherServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WeatherServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TemperatureData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RetrievedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TemperatureCelsius" type="xs:double" />
      <xs:element minOccurs="0" name="TemperatureFahrenheit" type="xs:double" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TemperatureData" nillable="true" type="tns:TemperatureData" />
</xs:schema>