WeatherTravelPlanningSolution/WeatherTravelPlanning/Connected Services/TemperatureServiceReference/TemperatureConverter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="TemperatureConverter" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ITemperatureConverter_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:44391/TemperatureConverter.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:44391/TemperatureConverter.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:44391/TemperatureConverter.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WeatherServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITemperatureConverter_ConvertTemperature_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertTemperature" />
  </wsdl:message>
  <wsdl:message name="ITemperatureConverter_ConvertTemperature_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertTemperatureResponse" />
  </wsdl:message>
  <wsdl:message name="ITemperatureConverter_FahrenheitToCelsius_InputMessage">
    <wsdl:part name="parameters" element="tns:FahrenheitToCelsius" />
  </wsdl:message>
  <wsdl:message name="ITemperatureConverter_FahrenheitToCelsius_OutputMessage">
    <wsdl:part name="parameters" element="tns:FahrenheitToCelsiusResponse" />
  </wsdl:message>
  <wsdl:message name="ITemperatureConverter_CelsiusToFahrenheit_InputMessage">
    <wsdl:part name="parameters" element="tns:CelsiusToFahrenheit" />
  </wsdl:message>
  <wsdl:message name="ITemperatureConverter_CelsiusToFahrenheit_OutputMessage">
    <wsdl:part name="parameters" element="tns:CelsiusToFahrenheitResponse" />
  </wsdl:message>
  <wsdl:message name="ITemperatureConverter_GetTemperatureByZipCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTemperatureByZipCode" />
  </wsdl:message>
  <wsdl:message name="ITemperatureConverter_GetTemperatureByZipCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTemperatureByZipCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="ITemperatureConverter">
    <wsdl:operation name="ConvertTemperature">
      <wsdl:input wsaw:Action="http://tempuri.org/ITemperatureConverter/ConvertTemperature" message="tns:ITemperatureConverter_ConvertTemperature_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITemperatureConverter/ConvertTemperatureResponse" message="tns:ITemperatureConverter_ConvertTemperature_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FahrenheitToCelsius">
      <wsdl:input wsaw:Action="http://tempuri.org/ITemperatureConverter/FahrenheitToCelsius" message="tns:ITemperatureConverter_FahrenheitToCelsius_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITemperatureConverter/FahrenheitToCelsiusResponse" message="tns:ITemperatureConverter_FahrenheitToCelsius_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CelsiusToFahrenheit">
      <wsdl:input wsaw:Action="http://tempuri.org/ITemperatureConverter/CelsiusToFahrenheit" message="tns:ITemperatureConverter_CelsiusToFahrenheit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITemperatureConverter/CelsiusToFahrenheitResponse" message="tns:ITemperatureConverter_CelsiusToFahrenheit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTemperatureByZipCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ITemperatureConverter/GetTemperatureByZipCode" message="tns:ITemperatureConverter_GetTemperatureByZipCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITemperatureConverter/GetTemperatureByZipCodeResponse" message="tns:ITemperatureConverter_GetTemperatureByZipCode_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITemperatureConverter" type="tns:ITemperatureConverter">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConvertTemperature">
      <soap:operation soapAction="http://tempuri.org/ITemperatureConverter/ConvertTemperature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FahrenheitToCelsius">
      <soap:operation soapAction="http://tempuri.org/ITemperatureConverter/FahrenheitToCelsius" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CelsiusToFahrenheit">
      <soap:operation soapAction="http://tempuri.org/ITemperatureConverter/CelsiusToFahrenheit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTemperatureByZipCode">
      <soap:operation soapAction="http://tempuri.org/ITemperatureConverter/GetTemperatureByZipCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_ITemperatureConverter" type="tns:ITemperatureConverter">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ITemperatureConverter_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConvertTemperature">
      <soap:operation soapAction="http://tempuri.org/ITemperatureConverter/ConvertTemperature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FahrenheitToCelsius">
      <soap:operation soapAction="http://tempuri.org/ITemperatureConverter/FahrenheitToCelsius" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CelsiusToFahrenheit">
      <soap:operation soapAction="http://tempuri.org/ITemperatureConverter/CelsiusToFahrenheit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTemperatureByZipCode">
      <soap:operation soapAction="http://tempuri.org/ITemperatureConverter/GetTemperatureByZipCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TemperatureConverter">
    <wsdl:port name="BasicHttpBinding_ITemperatureConverter" binding="tns:BasicHttpBinding_ITemperatureConverter">
      <soap:address location="http://localhost:56229/TemperatureConverter.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_ITemperatureConverter" binding="tns:BasicHttpsBinding_ITemperatureConverter">
      <soap:address location="https://localhost:44391/TemperatureConverter.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>