WeatherTravelPlanningSolution/WeatherTravelPlanning/Connected Services/RainyDayServiceReference/RainyDayAdvisor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="RainyDayAdvisor" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar50.fulton.asu.edu/Page1/RainyDayAdvisor.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar50.fulton.asu.edu/Page1/RainyDayAdvisor.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar50.fulton.asu.edu/Page1/RainyDayAdvisor.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRainyDayAdvisor_GetRainyDayAdvice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRainyDayAdvice" />
  </wsdl:message>
  <wsdl:message name="IRainyDayAdvisor_GetRainyDayAdvice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRainyDayAdviceResponse" />
  </wsdl:message>
  <wsdl:message name="IRainyDayAdvisor_GetIndoorActivities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIndoorActivities" />
  </wsdl:message>
  <wsdl:message name="IRainyDayAdvisor_GetIndoorActivities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIndoorActivitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IRainyDayAdvisor_IsItRainy_InputMessage">
    <wsdl:part name="parameters" element="tns:IsItRainy" />
  </wsdl:message>
  <wsdl:message name="IRainyDayAdvisor_IsItRainy_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsItRainyResponse" />
  </wsdl:message>
  <wsdl:portType name="IRainyDayAdvisor">
    <wsdl:operation name="GetRainyDayAdvice">
      <wsdl:input wsaw:Action="http://tempuri.org/IRainyDayAdvisor/GetRainyDayAdvice" message="tns:IRainyDayAdvisor_GetRainyDayAdvice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRainyDayAdvisor/GetRainyDayAdviceResponse" message="tns:IRainyDayAdvisor_GetRainyDayAdvice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIndoorActivities">
      <wsdl:input wsaw:Action="http://tempuri.org/IRainyDayAdvisor/GetIndoorActivities" message="tns:IRainyDayAdvisor_GetIndoorActivities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRainyDayAdvisor/GetIndoorActivitiesResponse" message="tns:IRainyDayAdvisor_GetIndoorActivities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsItRainy">
      <wsdl:input wsaw:Action="http://tempuri.org/IRainyDayAdvisor/IsItRainy" message="tns:IRainyDayAdvisor_IsItRainy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRainyDayAdvisor/IsItRainyResponse" message="tns:IRainyDayAdvisor_IsItRainy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRainyDayAdvisor" type="tns:IRainyDayAdvisor">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRainyDayAdvice">
      <soap:operation soapAction="http://tempuri.org/IRainyDayAdvisor/GetRainyDayAdvice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndoorActivities">
      <soap:operation soapAction="http://tempuri.org/IRainyDayAdvisor/GetIndoorActivities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsItRainy">
      <soap:operation soapAction="http://tempuri.org/IRainyDayAdvisor/IsItRainy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RainyDayAdvisor">
    <wsdl:port name="BasicHttpBinding_IRainyDayAdvisor" binding="tns:BasicHttpBinding_IRainyDayAdvisor">
      <soap:address location="http://webstrar50.fulton.asu.edu/Page1/RainyDayAdvisor.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>