TravelPlanningSystem/TravelPlanningServicesTryIt/Connected Services/WordFilterServiceReference/WordFilter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52780/WordFilter.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="FilterStopWords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilterStopWordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FilterStopWordsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopContentWords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopContentWordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetTopContentWordsResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountContentWords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountContentWordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountContentWordsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>