TravelPlanningSystem/TravelPlanningServicesTryIt/Connected Services/WordFilterServiceReference/WordFilter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="WordFilter" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52780/WordFilter.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52780/WordFilter.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52780/WordFilter.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWordFilter_FilterStopWords_InputMessage">
    <wsdl:part name="parameters" element="tns:FilterStopWords" />
  </wsdl:message>
  <wsdl:message name="IWordFilter_FilterStopWords_OutputMessage">
    <wsdl:part name="parameters" element="tns:FilterStopWordsResponse" />
  </wsdl:message>
  <wsdl:message name="IWordFilter_GetTopContentWords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTopContentWords" />
  </wsdl:message>
  <wsdl:message name="IWordFilter_GetTopContentWords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTopContentWordsResponse" />
  </wsdl:message>
  <wsdl:message name="IWordFilter_CountContentWords_InputMessage">
    <wsdl:part name="parameters" element="tns:CountContentWords" />
  </wsdl:message>
  <wsdl:message name="IWordFilter_CountContentWords_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountContentWordsResponse" />
  </wsdl:message>
  <wsdl:portType name="IWordFilter">
    <wsdl:operation name="FilterStopWords">
      <wsdl:input wsaw:Action="http://tempuri.org/IWordFilter/FilterStopWords" message="tns:IWordFilter_FilterStopWords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWordFilter/FilterStopWordsResponse" message="tns:IWordFilter_FilterStopWords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTopContentWords">
      <wsdl:input wsaw:Action="http://tempuri.org/IWordFilter/GetTopContentWords" message="tns:IWordFilter_GetTopContentWords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWordFilter/GetTopContentWordsResponse" message="tns:IWordFilter_GetTopContentWords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountContentWords">
      <wsdl:input wsaw:Action="http://tempuri.org/IWordFilter/CountContentWords" message="tns:IWordFilter_CountContentWords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWordFilter/CountContentWordsResponse" message="tns:IWordFilter_CountContentWords_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWordFilter" type="tns:IWordFilter">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FilterStopWords">
      <soap:operation soapAction="http://tempuri.org/IWordFilter/FilterStopWords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopContentWords">
      <soap:operation soapAction="http://tempuri.org/IWordFilter/GetTopContentWords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountContentWords">
      <soap:operation soapAction="http://tempuri.org/IWordFilter/CountContentWords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WordFilter">
    <wsdl:port name="BasicHttpBinding_IWordFilter" binding="tns:BasicHttpBinding_IWordFilter">
      <soap:address location="http://localhost:52780/WordFilter.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>